@model CompanyDatabaseProcessing.Models.PersonView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddItemForm</title>
</head>
<body>
<h4> Введите добавляемого сотрудника </h4>
@using (Html.BeginForm())
{
    <p>Имя: @Html.TextBox("first_name")</p>
    <p>Фамилия: @Html.TextBox("second_name")</p>
    <p>Отчество: @Html.TextBox("last_name")</p>
    <p>Отдел: @Html.TextBox("dep")</p>
    <p>Пост: @Html.TextBox("post")</p>

    <input type="submit" value="Добавить сотрудника"/>
}
</body>
</html>