@using CompanyDatabaseProcessing.Models
@model IEnumerable<CompanyDatabaseProcessing.Models.PersonView>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h3>Поздравляю. все работает!</h3>
   
    @Html.ActionLink("Add item","AddItemForm")
    @Html.ActionLink("Delete item", "DeleteItemForm")
    @Html.ActionLink("Find item", "FindItemForm")
    <table border="1">
        <tr class="header">
            <td><p>First_name</p></td>
            <td><p>Second_name</p></td>
            <td><p>last_name</p></td>
            <td><p>Department</p></td>
            <td><p>Post</p></td>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
                <td><p>@person.first_name</p></td>
                <td><p>@person.second_name</p></td>
                <td><p>@person.last_name</p></td>
                <td><p>@person.dep</p></td>
                <td><p>@person.post</p></td>
            </tr>
        }
    </table>

</div>
</body>
</html>
