@model IEnumerable<CompanyDatabaseProcessing.Models.PersonView>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success!</title>
</head>
<body>
<h1>Операция выполнена успешно!!</h1>
    @if (Model != null)
    {
        <h3>Результаты по вашему запросу:</h3>
        <table border="1">
            <tr class="header">
                <td><p>Имя</p></td>
                <td><p>Фамилия</p></td>
                <td><p>Отчество</p></td>
                <td><p>Отдел</p></td>
                <td><p>Пост</p></td>
            </tr>
            @foreach (var person in Model)
            {
                <tr>
                    <td><p>@person.first_name</p></td>
                    <td><p>@person.second_name</p></td>
                    <td><p>@person.last_name</p></td>
                    <td><p>@person.dep</p></td>
                    <td><p>@person.post</p></td>
                </tr>
            }
        </table>
    }
@Html.ActionLink("Вернуться на домашнюю страницу", "Index")
</body>
</html>